<application
    android:allowBackup="true"
    android:label="MyBrowser"
    android:theme="@style/AppTheme">

    <activity
        android:name=".MainActivity"
        android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>

    <activity
        android:name=".TabsActivity"
        android:exported="false" />

</application>